
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Hello nice lime green thing!</h2>

@section Header {
    <b>This is the header</b>
}

@section Footer {
    This is the footer
}