@using ASPNetDay1Intro.Models

@{
    List<Product> products = new List<Product>
    {
        new Product { Name = "Eggs", Price = 2.33m },
        new Product { Name = "Milk", Price = 1.99m },
        new Product { Name = "Cheese", Price = 8.50m }
    };
}

<ul>
    @foreach(Product product in products)
    {
        <li>@product.Name</li>
    }
</ul>