<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: limegreen;">
    <h1>Our Website</h1>
    <div>
        @RenderSection("Header")
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("Footer", false)
    </div>
</body>
</html>
